body {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    color: white;
}

section {
    background-color: #509ba7;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

div {
    width: 350px;
    margin-left: auto;
    margin-right: auto;

}

input {
    padding: 8px;
}

select {
    padding: 8px;
    width: 189px;
    color: #747272;
}

.botao {
    border: none;
    color: white;
    padding: 8px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 5px 5px 0px;
}

.adicione {
    background-color: #4CAF50;
}

.adicione:hover {
    background-color: #406e41;
}

.ordene {
    background-color: #2196F3;
}

.ordene:hover {
    background: #2c6391;
}

.embaralhe {
    background-color: #adaaaa;
}

.embaralhe:hover {
    background: #6e6c68;
}